:root{
   * {
  font-family: 'Poppins', sans-serif !important;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

}
