

.bgFull {
  background-image: url("../assets/Imges/byooo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 450px;
  display: flex;
  align-items: center;
  position: relative;
}

.bgFull::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* CONTENT */
.heroContent {
  position: relative;
  z-index: 2;
}


.htitle {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}



@media (max-width: 768px) {
  .htitle {
    font-size: 28px;
  }
}
.subTitle {
  margin-top: 12px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
}
