.wrapper {
  background: #cad8d0;
  padding: 50px 30px;
 
 
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.subtitle {
  margin-top: 5px;
  color: #101010;
}

.viewAll {
  color: #0a0a0a;
  cursor: pointer;
  font-weight: 500;
}

.cardRow {
  row-gap: 30px !important;
  justify-content: center;
}


.cityCard {
  background: #114e25;
  width: 100%;
  height:200px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cityCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Icon box */
.cityIcon {
  width: 55px;
  height: 55px;
  background: #f5f7f9;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.cityIcon i {
  font-size: 26px;
  color: #0c4b41;
}

/* FIXED — TEXT NOW VISIBLE */
.cardTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #000 !important;
}

.cardCount {
  font-size: 13px;
  color: #cac3c3 !important;
}

/* Responsive */
@media (max-width: 992px) {
  .cityCard { height: 150px; }
}

@media (max-width: 768px) {
  .cityCard { height: 145px; }
}

@media (max-width: 576px) {
  .cityCard { height: 140px; }
  .cityIcon {
    width: 48px;
    height: 48px;
  }
  .cityIcon i { font-size: 22px; }
}
