.maincateco {
  background:#011824;
  padding: 40px 20px;
  border-radius: 12px;
}


.city-card {
  width: 160px;             
  height: 150px;             
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
  gap: 8px;
  background: white;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.city-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}


.cityimage {
  width: 60px;
  height: 60px;
  background: #f3f4f6;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.city-card p {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}

.city-card small {
  font-size: 13px;
  color: #6c757d;
}


@media (max-width: 768px) {
  .city-card {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 576px) {
  .city-card {
    width: 45%;      
    height: 140px;
  }
}
