.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 120px 0;
 

  /* ⭐ Add your background image here */
  background-image: url('../assets/Imges/subimoo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sectionLeft {
  width: 60%;
  color: #fff; /* optional if bg is dark */
}

.sectionLeft h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}

.sectionLeft p {
  margin-top: 15px;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
  .section {
    padding: 80px 20px;
    text-align: center;
  }

  .sectionLeft {
    width: 100%;
  }

  .sectionLeft h1 {
    font-size: 32px;
  }

  .sectionLeft p {
    font-size: 16px;
  }
}
