




.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel {
  text-align: center;
}



.subTitle {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  margin-top: 10px;
}

.desc {
  font-size: 15px;
  color: #555;
  margin-top: 8px;
}



.carousel {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 380px;
  overflow: hidden;
}



.card {
  position: absolute;
  width: 260px;
  height: 330px;
  border-radius: 18px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in-out;
}



.cardImg {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.cardInfo {
  padding: 14px;
  text-align: left;
}

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.cardPrice {
  font-size: 15px;
  font-weight: 500;
  color: #555;
}



/* FAR FAR LEFT */
.pos-3 {
  transform: translateX(-720px) scale(0.6);
  opacity: 0.2;
  z-index: 0;
}

/* FAR LEFT */
.pos-2 {
  transform: translateX(-520px) scale(0.7);
  opacity: 0.35;
  z-index: 1;
}

.pos-1 {
  transform: translateX(-280px) scale(0.85);
  opacity: 0.7;
  z-index: 2;
}

.pos0 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 4;
}

/* RIGHT */
.pos1 {
  transform: translateX(280px) scale(0.85);
  opacity: 0.7;
  z-index: 2;
}

/* FAR RIGHT */
.pos2 {
  transform: translateX(520px) scale(0.7);
  opacity: 0.35;
  z-index: 1;
}



.dots {
  margin-top: 25px;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #386641;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot:hover {
  background:#F97A00;
}

.dot.active {
  background:#386641;
}



@media (max-width: 768px) {
  .carousel {
    height: 330px;
  }

  .card {
    width: 220px;
    height: 280px;
  }

  .pos-3 {
    transform: translateX(-560px) scale(0.55);
  }

  .pos-2 {
    transform: translateX(-380px) scale(0.65);
  }

  .pos-1 {
    transform: translateX(-200px) scale(0.8);
  }

  .pos1 {
    transform: translateX(200px) scale(0.8);
  }

  .pos2 {
    transform: translateX(380px) scale(0.65);
  }
}



@media (max-width: 500px) {
  .carousel {
    height: 260px;
  }

  .card {
    position: relative;
    width: 90%;
    height: 240px;
    margin: 0 auto;
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  .pos-3,
  .pos-2,
  .pos-1,
  .pos0,
  .pos1,
  .pos2 {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}


@media (max-width: 380px) {
  .carousel {
    height: 220px;
  }

  .card {
    width: 95%;
    height: 210px;
  }
}
