

.Container {
  display: flex;
  align-items: center;
  gap: 23px;
  padding: 18px 20px;
  background: #ffffff;
  border-radius: 8px;
  margin: 10px 12px;
  
}

.cardImg {
  border-radius: 25%;
  width: 50px;
  height: 35px;
  object-fit: cover;
}

.cardparat h6 {
  font-size: 16px;
  color: #111;
  margin: 2px 0 0;
  font-weight: 600;
}

.cardparat p {
  font-size: 13px;
  margin: 0;
  color: #0c0c0c;
}


