.buyNowBtn {
  background-color: #628141;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 14px; /* pill style */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buyNowBtn:hover {
  background-color: #E67E22;
}
