

.footerSection {
background: linear-gradient(135deg, #4a332a, #0D4715);

  padding: 60px 0 20px;
  color: #ffffffd9;
  font-size: 15px;
}

/* brand / logo */
.brand {
  font-size: 32pxpx;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

/* Section Titles */
.footerTitle {
  font-weight: 600;
  color: #f8f8f8;
  margin-bottom: 12px;
  font-size: 16px;
}


.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navLink {
  color: #e8e8e8;
  text-decoration: none;
  transition: 0.3s;
}

.navLink:hover {
  color: #628141;
  padding-left: 4px;
}


.socialIcons i {
  font-size: 22px;
  transition: 0.3s;
  opacity: 0.9;
  cursor: pointer;
}

.socialIcons i:hover {
  transform: translateY(-4px);
  opacity: 1;
  color: #628141;
}


.searchBox input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  border-radius: 50px 0 0 50px;
  outline: none;
}

.searchBox button {
  background: #E67E22;
  border: none;
  color: #fff;
  padding: 10px 18px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: 0.3s;
}

.searchBox button:hover {
  background: #628141;
}


.contactStrip {
  margin-top: 50px;
}

.contactBox {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 25px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  color: #fff;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactItem i {
  font-size: 18px;
  color: #E67E22;
}


@media (max-width: 768px) {
  .contactBox {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchBox input {
    width: 100%;
  }
}

