
.footerSection {
  background: #d7eff4;
  padding-top: 40px;
  padding-bottom: 20px;
}


.navLink {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.navLink:hover {
  color: #396036; 
}


.searchBox input {
  border-radius: 50px;
  padding: 8px 15px;
}

.searchBox button {
  border-radius: 50px;
  padding: 8px 18px;
}

.socialIcons i {
  font-size: 20px;
  color: #090909;
  cursor: pointer;
  transition: 0.3s;
}

.socialIcons i:hover {
  color: #090909;
}


.contactStrip {
  margin-top: 40px;
}

.contactBox {
  background: #b2c4e2;
  border-radius: 50px;
  padding: 42px 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);

  display: flex;
  align-items: center;
  gap: 161px;

  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contactItem i {
  color: #0d0e0f;
  font-size: 18px;
}

@media (max-width: 768px) {
  .contactBox {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
  }
}
.footerSection {
  background-image: url("../assets/Imges/footeer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 30px;
}

