.propertysection {
    display: flex;
    align-items: center;
    gap: 30px;
}

.propertyimg {
    width: 30%;
    border-radius: 10px;
}

/* ------------ ANIMATIONS ------------- */

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slideLeft {
    animation: slideLeft 1s ease forwards;
}

.slideRight {
    animation: slideRight 1s ease forwards;
}

/* Text */
.propertytext {
    width: 50%;
}

.propertytext h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.propertytext p {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
}

