/* Image Styling */
.imageStyle {
  width: 80%;      
  max-width: 420px; 
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;   /* center */
  display: block;
}


/* TEXT STYLING */
.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
}



.contactBtn {
  background: linear-gradient(135deg, #628141, #8BAE66);
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.contactBtn:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #E67E22, #EBD5AB);
}



.slideLeft {
  animation: slideFromLeft 0.8s ease forwards;
  opacity: 0;
}

.slideRight {
  animation: slideFromRight 0.8s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 0.95rem;
  }
}
