
   
.hero {
  position: relative;
  background-image: url("../assets/Imges/bbanner.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  animation: zoomBanner 15s ease-in-out infinite alternate;
}

/* Banner Zoom Animation */
@keyframes zoomBanner {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}


.herosec {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
  color: white;
  margin-top: -6.5px;
}


.inputese {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  z-index: 10;
  background-color: #2f383c;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}


 

.inputIcon {
  position: absolute;
  right: 12px;
  top: 70%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #bbb;
  pointer-events: none;
}


.serch {
  padding: 8px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 10px;
  color: white;
}

.fillte {
  background-color: aliceblue;
  height: 40px;
  border-radius: 10px;
  color: rgb(52, 72, 112);
  border: none;
  font-weight: 500;
}


.popular {
  margin-bottom: 260px;
  border-radius: 20px;
}

.popular .btn {
  margin-bottom: 5px;
}




@media (max-width: 992px) {
  .herosec {
    font-size: 34px;
  }

  .inputese {
    bottom: 40px;
  }
}


@media (max-width: 768px) {
  .herosec {
    font-size: 30px;
    text-align: center;
  }

  .inputese {
    bottom: 30px;
    padding: 15px;
  }

  .inputese .d-flex {
    flex-direction: column;
    gap: 10px;
  }
}

/* Mobile ( <600px ) */
@media (max-width: 600px) {
  .herosec {
    font-size: 24px;
  }

  .inputese {
    width: 95%;
    bottom: 20px;
    padding: 10px;
  }

  .inputese .col-12 {
    margin-bottom: 10px;
  }

  .popular {
    margin-bottom: 200px;
  }

  .popular .btn {
    flex: 1 1 45%;
    margin-bottom: 5px;
  }
}

/* Desktop XL Fix */
@media (max-width: 1200px) {
  .herosec {
    font-size: 38px;
  }
}
