

.rSection {
  background: url("../assets/Imges/subimoo.jpg") 
              no-repeat center center / cover;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  height: 400px;
}


.rSection::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(255, 255, 255, 0.4); */
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
  z-index: 0;
}


.rSection * {
  position: relative;
  z-index: 1;
}


.sBox {
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
  padding: 20px;
   margin-top: 50px;
}



.slect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #fff;

  background-image: 
    linear-gradient(45deg, transparent 50%, #555 50%),
    linear-gradient(135deg, #555 50%, transparent 50%);
  background-position: calc(100% - 15px) center, calc(100% - 10px) center;
  background-size: 5px 5px;
  background-repeat: no-repeat;

  padding-right: 35px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 45px;
  font-size: 15px;
  cursor: pointer;
}

.slect option {
  color: #000;
}


.thead {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
  margin-top: 20px;
}

.archBtn {
  background-color: #628141;
  color: #fff; /* Optional: white text */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.archBtn:hover {
  background-color: #E67E22;
}
