
.navbarCustom {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  width: 100%;              
  border-radius: 0;         
  margin: 0;                 
  padding: 12px 25px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15); /* subtle border line */
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}



.navBrand {
  font-size: 28px;
  font-weight: 700;
  color: #0d2617 !important;
  letter-spacing: 1px;
}


.navLink {
  text-decoration: none;
  color: #0d2617;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navLink:hover {
  color: #b8e3d0;
}


.button {
  background: #628141;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 8px 22px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.button:hover {
  background-color: #E67E22;
  color: #fff;
}


.buttons {
  background: #628141;
  color: #ffffff;
  padding: 8px 22px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}
.buttons:hover {
  background-color: #E67E22;
  color: #fff;
}

.button:hover,
.buttons:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}


.navbar-toggler-icon {
  filter: invert(1);
}


@media (max-width: 992px) {
  .navbarCustom {
    width: 100%;
    border-radius: 0;           
    margin: 0;
  }

  .navLink {
    text-align: center;
    padding: 12px 0;
  }

  .button,
  .buttons {
    width: 100%;
  }
}
