
.navbarCustom {
  background-color: #011824;
  box-shadow: 0 2px 8px rgba(23, 52, 48, 0.12);
}


.navBrand {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff !important;
}

/* NAV LINKS */
.navLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.navLink:hover {
  color: #b8e3d0;
  transform: scale(1.05);
}

/* BUTTONS */
.button {
  background-color: #5b7586;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  width: 120px;
}

.buttons {
  background-color: #f9fafa;
  color: #011824;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  width: 120px;
}

.button:hover,
.buttons:hover {
  background-color: #5b8d8a;
  color: #fff;
}

/* Make toggler icon white */
.navbar-toggler-icon {
  filter: invert(1);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .navLink {
    display: block;
    padding: 10px 0;
    text-align: center;
  }

  .button,
  .buttons {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .navBrand {
    font-size: 22px;
  }
}

