:root {
  --primary-green: #386641;
  --dark-green: #2f5233;
  --accent-orange: #F97A00;
}

/* Glass Navbar */
.navbarCustom {
  background: rgba(56, 102, 65, 0.55);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 12px 24px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  border-radius:16px ;
  margin-top: 25px;
  height: 70px;
}

/* Brand */
.navBrand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;

  margin-bottom: 1px;
}

/* Nav Links */
.navLink {
  color: #ffffff !important;
  font-weight: 500;
  position: relative;
  padding-bottom: 6px;
  text-decoration: none;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--accent-orange);
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

/* Buttons */
.button {
  background: linear-gradient(135deg, #F97A00, #ff9b3d);
  color: #fff;
  padding: 8px 22px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  box-shadow: 0 6px 18px rgba(249, 122, 0, 0.45);
  transition: 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(249, 122, 0, 0.6);
}

.buttonSecondary {

  color: var(--accent-orange);
  border: 1px solid rgba(249, 122, 0, 0.6);
  padding: 7px 22px;
  border-radius: 50px;
  font-weight: 600;
  backdrop-filter: blur(6px);
}

/* User */
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid var(--accent-orange);
  box-shadow: 0 0 10px rgba(249, 122, 0, 0.5);
}

.userName {
  color: #fff;
  font-weight: 500;
}
.dashboardBtn {
  padding: 6px 14px;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.dashboardBtn:hover {
  background: #fff;
  color: #000;
}


