.bagro{
    background-color: #e2e6e9;
    height:400px ;
}

.clientsection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.centerhead {
  grid-column: 1 / -1; /* Heading spans all columns */
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* Card styling */
.sarvicecard {
  background-color: #011824;

  color: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sarvicecard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.sarvicecard button {
  margin-top: 15px;
  background: white;
  color: rgb(12, 13, 13);
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.sarvicecard button:hover {
  background-color: aqua;
  color: white;
}

/* Responsive */
@media (max-width: 992px) {
  .clientsection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .clientsection {
    grid-template-columns: 1fr;
  }
}
