.bagro {
  background-color: #f5e5c8;
}

/* Grid layout */
.clientsection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

/* Heading */
.centerhead {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
}

/* Card */
.sarvicecard {
  background-color:#628141;
  color: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sarvicecard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Button */
.sarvicecard button {
  margin-top: 15px;
  background: white;
  color: #0c0d0d;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.sarvicecard button:hover {
  background-color: #E67E22;
  color: white;
}

/* Responsive */
@media (max-width: 992px) {
  .clientsection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .clientsection {
    grid-template-columns: 1fr;
  }
}
