.profileWrap {
  position: relative;
}

.profileBtn {
  background: #628141;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.profileBtn:hover {
  background: #4f6d34;
}

.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 160px;
  padding: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  z-index: 999;
}

.dropdown button {
  width: 100%;
  background: transparent;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown button:hover {
  background: rgba(255, 255, 255, 0.2);
}
