/* IMAGE STYLING */
.image {
  max-height: 400px;
  object-fit: cover;

  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.05);
}

/* TEXT STYLING */
.heading {
  color: #333;
  font-weight: 600;
  font-family: Arial, sans-serif;
  margin-bottom: 1rem;
}

.highlight {
  color: #ffb400;
}

.paragraph {
  color: #6c757d; /* Bootstrap text-muted color */
  line-height: 1.8;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* BUTTON STYLING */
.btn {
  background-color: #628141;
  color: #fff;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* ANIMATIONS */
.slideInLeft {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s forwards;
  border-radius: 10px;
}

.fadeInRight {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1s forwards;
  animation-delay: 0.3s;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
