.sellfaster {
  font-size: 26px;
  font-weight: 700;
}

.card-img-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 65%; /* Adjust height ratio */
  overflow: hidden;
  border-radius: 12px;
}

.card-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  object-fit: cover; 
}


.card-img-wrapper img:hover {
  transform: scale(1.08);
  transition: 0.4s ease-in-out;
}


@media (max-width: 768px) {
  .sellfaster {
    font-size: 22px;
  }
}

.tagButtons {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
}

/* BUY BUTTON */
.buyBtn {
  background: #628141;
  border: none;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.buyBtn:hover {
  background-color: #CA7842;
  color: #fff;
}

/* FEATURED BUTTON */
.featureBtn {
  background: #CA7842;
  border: none;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.featureBtn:hover {
  background: #628141;
  color: #fff;
}
