.bgWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: 1;
}

/* Glass Card */
.glassCard {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  padding: 30px 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  
}

/* Inputs */
.input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 14px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}



/* Button */
.signBtn {
  background: linear-gradient(135deg, #628141, #8bae66);
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
}

/* Social buttons */
.socialBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  margin-bottom: 10px;
}

.socialBtn img {
  width: 18px;
}

/* Links */
.link {
  color: #ffeaa7;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 576px) {
  .glassCard {
    padding: 20px 15px;
  }
}

