.statussection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  background-color:#EBD5AB;
  padding: 40px 0;
  margin-top: 20px;
}

.statussection h2 {
  font-size: 30px;
  margin: 0;
}

.statussection p {
  margin-top: 5px;
  color: rgb(21, 21, 21);
}

