.statussection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  background-color: #628141;
  padding: 40px 0;
  color: #fff; /* makes all text white */
}

/* ICONS */
.statussection i {
  color: #fff;
}

/* NUMBERS */
.statussection h2 {
  font-size: 30px;
  margin: 0;
  color: #fff;
  font-weight: 700;
}

/* LABEL TEXT */
.statussection p {
  margin-top: 5px;
  color: #fff; /* change from orange to white */
}

