
   /* Container styling */
.stepsContainer {
  background-color: #dbe5da; /* light gray background */
 
  padding: 50px 20px;
}

/* Heading */
.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #333;
}

/* Subheading */
.subheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #666;
}

/* Icon wrapper */
.iconWrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #094a32;
}


.iconWrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.stepTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}


.stepDesc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .iconWrapper {
    width: 60px;
    height: 60px;
  }
  .stepTitle {
    font-size: 1rem;
  }
  .stepDesc {
    font-size: 0.9rem;
  }
}
