
   .iconCircle {
  background: #011824;
  padding: 10px;
  border-radius: 50%;
  font-size: 30px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  margin-bottom: 15px;
}

.maincan {
  background-color: rgb(211, 230, 241);
  padding: 40px 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .iconCircle {
    height: 60px;
    width: 60px;
    font-size: 24px;
  }

  .maincan {
    padding: 30px 15px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}
