
   
.bgSection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
}

/* blur + overlay */
.bgSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  
  z-index: 1;
}

.stepsContainer {
  position: relative;
  z-index: 2; /* make sure text is above overlay */
}

.iconWrapper {
  font-size: 40px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.iconWrapper:hover {
  transform: scale(1.1);
}

.heading {
  color: #fff;
}

.subheading {
 
  color: rgb(167 213 182) !important;
}

.stepTitle {
  color: #fff;
  margin-top: 12px;
}

.stepDesc {
  color: #dcdcdc !important;
}
