






.leftImages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.imgSmall {
  width: 220px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

.imgLarge {
  width: 300px;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
}

.statsCard {
  position: absolute;
  bottom: -20px;
  left: 20px;
  background:#011824;
  color: #fff;
  padding: 15px 20px;
  width: 140px;
  border-radius: 12px;
  text-align: center;
}


.iconBox {
  width: 40px;
  height: 40px;
  background: #fff;
  color:#000608;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  max-width: 450px;
}


.featureItem {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.featureItem i {
  color: #86a4b3;
  font-size: 20px;
}
