



.turningSection {
  padding: 40px 0;
}


.leftImages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imgSmall {
  width: 220px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* Large Image */
.imgLarge {
  width: 300px;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
}


.statsCard {
  position: absolute;
  bottom: -20px;
  left: 20px;
  background:rgb(17, 43, 78); ;
  color: #fff;
  padding: 15px 20px;
  width: 140px;
  border-radius: 12px;
  text-align: center;
}


.iconBox {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #000608;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  max-width: 450px;
}

.featureItem {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.featureItem i {
  color: #86a4b3;
  font-size: 20px;
}

@media (max-width: 991px) {
  .imgSmall {
    width: 180px;
    height: 220px;
  }

  .imgLarge {
    width: 240px;
    height: 300px;
  }

  .statsCard {
    width: 130px;
    padding: 12px 16px;
    bottom: -15px;
  }

  .title {
    font-size: 28px;
  }
}


@media (max-width: 767px) {
  .turningSection {
    text-align: center;
  }

  .leftImages {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .imgSmall,
  .imgLarge {
    width: 45%;
    height: auto;
  }

  .statsCard {
    left: 10px;
    bottom: -10px;
    width: 120px;
    padding: 10px 14px;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    margin: 10px auto;
    max-width: 90%;
  }

  .featureItem {
    justify-content: center;
  }
}


@media (max-width: 480px) {
  .imgSmall,
  .imgLarge {
    width: 48%;
  }

  .statsCard {
    width: 100px;
    padding: 8px 10px;
    left: 5px;
  }

  .title {
    font-size: 22px;
  }

  .featureItem {
    font-size: 14px;
  }
}

