


/* Section padding */
.whyWorkSection {
  padding: 80px 20px;
}

/* FLEX WRAPPER */
.whyWorkWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* LEFT CONTENT */
.leftContent {
  flex: 1 1 500px;
}

/* RIGHT CONTENT */
.rightContent {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

/* HEADINGS & TEXT */
.whyTitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #0e0d0d;
}

.whyText {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 25px;
}

/* FEATURE BOXES */
.featuresWrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.featureBox {
  flex: 1 1 220px;
}

.featureBox h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #222;
}

.featureBox p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
}

/* BUTTON */
.buttonsss {
  display: inline-block;
  margin-top: 25px;
}

.buttonsss button {
  background: linear-gradient(135deg, #628141, #8BAE66);
  color: #fff;
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonsss button:hover {
  transform: translateY(-3px);
  background: linear-gradient(135deg, #E67E22, #EBD5AB);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* IMAGE CARD */
.imageCard {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  max-width: 400px;
  width: 100%;
 
}

/* CAROUSEL IMAGE */
.cardImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: none;
  border-radius: 20px;
}

.cardImageActive {
  display: block;
}


.statBadge {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background:  #628141;
  color: #fff;
  padding: 10px 14px;
  border-radius: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.statBadge i {
  font-size: 1.2rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .whyTitle {
    font-size: 1.9rem;
  }
}

@media (max-width: 768px) {
  .whyWorkWrapper {
    flex-direction: column;
    gap: 30px;
  }

  .whyTitle, .whyText {
    text-align: center;
  }

  .buttonsss {
    display: flex;
    justify-content: center;
  }

  .cardImage {
    height: 240px;
  }
}

@media (max-width: 480px) {
  .whyTitle {
    font-size: 1.5rem;
  }

  .featureBox h6 {
    font-size: 0.95rem;
  }

  .featureBox p {
    font-size: 0.85rem;
  }
}
