.section {
  background-color: #f8f9fa;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #222;
}

.text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
}

.image {
  width: 60%;
  max-width: 300px;
  border-radius: 12px;
  object-fit: cover;
  height: 200px;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.6rem;
    text-align: center;
  }

  .text {
    text-align: center;
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
    max-width: 180px;
    height: 160px; 
  }
}
